.space-container-apply-now-page {
    height: 10vh;
}

.first-div-apply-now-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background-image: url('https://res.cloudinary.com/dm1hjjfsz/image/upload/v1716053221/case/apply_now_grey_bg_fcq1ax.jpg'); */
}

.text-div-first-div-apply-now-page {
    width: 60rem;

    padding-left: 8vmax;

    font-family: "Playfair Display";

    line-height: 0.6;
}

.text-div-first-div-apply-now-page > h1 {
    font-size: 5vmax;
    font-weight: 600;
}

.text-div-first-div-apply-now-page > h2 {
    font-size: 1.3vmax;
    color: #445368;
}

.img-div-first-div-apply-now-page > img {
    width: 35vw;
}

.second-div-apply-now-page {
    padding-left: 8vmax;
}

.second-div-apply-now-page > h1 {
    font-size: 2.5vmax;
}

.second-div-apply-now-page > a {
    font-size: 1vmax;
    color: #3f69a4;
}

.third-div-apply-now-page {
    padding-left: 8vmax;
    text-align: center;
}

.status-indicator-container-third-div-apply-now-page {
    margin-top: 2vmax;

    display: flex;
    justify-content: center;

    gap: 20px;
}

.individual-status-container-third-div-apply-now-page {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 120px;
}

.individual-status-container-third-div-apply-now-page > p {
    font-size: 16px;
    font-weight: bold;
}

.individual-status-container-third-div-apply-now-page > p:first-child {
    width: 15px;

    padding: 8px;
    border-radius: 50%;

    font-size: 13px;
    font-weight: bold;

    background-color: #25508c;
    color: white;
}

.checkMark-disabled {
    display: none;
}

.apply-now-form-visible {
    display: block;
    width: 60vw;

    margin-left: 16vmax;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2vmax;
}

.apply-now-form-visible > h2 {
    width: 60vw;
    text-align: center;
}

.apply-now-form-disabled {
    display: none;
}

.individual-program-apply-now-form {
    width: 40vw;
    
    margin: 0.8vmax 0;

    border: 1px solid #445368;
    border-left: 12px solid #25508c;
    border-radius: 13px;

    display: flex;
    align-items: center;
}

input[type="radio"] {
    height: 18px;
    width: 18px;
    margin-left: 1.3vmax;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.individual-program-apply-now-form > p {
    margin-left: 0.5vmax;
}

.button-container-apply-now-form {
    width: 60vw;

    margin-top: 2vmax;
    margin-left: 16vmax;
    text-align: center;

    border: 1px solid red;
}