.banner-image-main-cs {
    position: relative;
}

.image-main-cs-first {
    position: relative;
    height: 50vh;
}

.image-main-cs-first::before {
    content: '';
    position: absolute;
    height: 35.8vh;
    top: 14vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.30);
    z-index: 998;
}

.image-main-cs-first > img {
    width: 100%;
    height: 50vh;
    z-index: 5;
}

.basic-info-cs {
    display: flex;
    justify-content: center;
}

.first-div-basic-info-cs {
    width: 90vw;
}

.main-container-main-cs > h2 {
    margin-top: 2vmax;
    font-family: Poppins;
}

.main-container-main-cs > p {
}

.h2-banner-container-main-cs {
    color: white;
    position: absolute;
    width: 100vw;
    z-index: 9;

    bottom: 0;

    height: 35.8vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-banner-container-main-cs > h2 {
    font-size: 2vmax;
}

.semester-plan-cs {
    border: 1px solid red;
    overflow: hidden;
    margin-left: 0;
}

.main-container-semester-plan-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3vmax;
}

ol > li,
ul > li {
    display: list-item;
    list-style: decimal;
}

.middle-div-container-header > ul > li {
    list-style: none;
}

@media screen and (max-width: 840px) {
    .first-div-basic-info-cs {
        width: 100vw;
    }

    .semester-plan-cs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
    }

    .main-container-semester-plan-inner {
        justify-content: center;
    }
}