.banner-image-main-cs {
    position: relative;
}

.image-main-cs-first {
    position: relative;
    height: 50vh;
}

.image-main-cs-first::before {
    content: '';
    position: absolute;
    height: 50vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.30);
    z-index: 998;
}

.image-main-cs-first > img {
    width: 100%;
    height: 50vh;
    z-index: 5;
}

.basic-info-cs {
    display: flex;
    justify-content: center;
}

.first-div-basic-info-cs {
    width: 90vw;
}

.main-container-main-cs > h2 {
    margin-top: 2vmax;
    font-family: Poppins;
}

.main-container-main-cs > p {
}

.h2-banner-container-main-cs {
    color: white;
    position: absolute;
    width: 100vw;
    z-index: 9;

    bottom: 0;

    height: 35.8vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-banner-container-main-cs > h2 {
    font-size: 2vmax;
}

.semester-plan-cs {
    overflow: hidden;
    margin-left: 0;
}

.main-container-semester-plan-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5vmax 3vmax;
}

p > ol > li,
p > ul > li,
.peo-container-cs > ol > li {
    display: list-item;
    list-style: decimal;
}

.program-info-cs-first-div > h2,
.degree-requirements-cs-first-div > h2,
.eligibility-criteria-cs-first-div > h2,
.semester-plan-cs > h2,
.peo-container-cs > h2 {
    border-bottom: 4px solid #0d3460;
    text-align: center;
    padding: 1vmax 0;
}

@media screen and (max-width: 840px) {
    .first-div-basic-info-cs {
        width: 95vw;
    }

    .main-container-semester-plan-inner {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {

    .h2-banner-container-main-cs > h2 {
        font-size: 46px;
        text-align: center;
        margin-top: 10vmax;
        height: fit-content;
    }

    .image-main-cs-first {
        position: relative;
        height: 40vh;
    }
    
    .image-main-cs-first::before {
        content: '';
        position: absolute;
        height: 40vh;
        width: 100vw;
    
        background-color: rgba(0, 0, 0, 0.30);
        z-index: 998;
    }
    
    .image-main-cs-first > img {
        width: 100%;
        height: 40vh;
        z-index: 5;
    }
}