body, html {
    margin: 0;
    padding: 0;
}

.main-container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1vmax;

    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 7px;

    height: 10vh;
}

.hamburger-menu-button-header {
    font-size: 30px;
    font-weight: 100;

    display: none;
}

.light-font {
    font-weight: lighter; /* You can adjust this value according to your preference */
}

.clickable-hoverable-links-header {
    display: flex;
    gap: 3vmax;
    padding: 0;

    color: black;

}

li {
    list-style: none;

    display: flex;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: black;

    transition: 0.22s ease-in-out;
}


.clickable-hoverable-links-header > li > a:hover {
    user-select: none;
    cursor: pointer;

    color: #666666;
}

.right-div-container-header {
    overflow-x: hidden;
}


.right-div-container-header > img  {
    height: 70px;
    width: 70px;
}

.hamburger-menu-header {
    display: none;
}

.drop-down-icon {
    font-size: 15px;
}

.absolute-child-drop-down-container {
    position: relative;
}

.container-available-options-drop-down-menu {
    padding: 0;

    position: absolute;
    top: 2vh;
    left: -4vmax;

    background-color: white;

    z-index: 999;

    height: fit-content;
    width: 13vw;
    padding-bottom: 10px;
    padding-top: 32px;

    margin-top: 0.2vmax;


    flex-direction: column;
    align-items: center;

    gap: 1vmax;

    border-bottom: 5px solid #0d3460;
    transition: 0.42s ease-in-out;

    display: none;

}

.container-available-options-drop-down-menu-hamburger {
    display: none;
}

.absolute-child-drop-down-container:hover .container-available-options-drop-down-menu,
.container-available-options-drop-down-menu:hover {
    display: flex;
}

.clickable-link-inner-drop-down {
    transition: 0.22s all;
}

.clickable-link-inner-drop-down:hover {
    color: #666666;
    transform: scaleX(1.05);
}

@media screen and (max-width: 870px) {
    .main-container-header {
        justify-content: space-between;
        padding: 0 3vmax;

        z-index: 1000;
    }

    .middle-div-container-header {
        display: none;
    }

    .right-div-container-header > img {
        display: none;
    }

    .hamburger-menu-header {
        display: block;
        transition: 0.22s ease-in-out;
    }
    

    .hamburger-menu-button-header {
        display: block;
        font-size: 36px;
    }

    .hamburger-menu-button-header.close {
        position: absolute;
        right: 20px;
    }

    .clickable-hoverable-links-header-hamburger {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0;
        right: 1vmax;

        height: 90vh;
        width: 40vw;

        background-color: white;

        transition: 0.42s ease-in-out;

        transform: translateX(900px);

        z-index: 1000;
    }

    .clickable-hoverable-links-header-hamburger.visible {
        transform: translateX(0);
    }

    .absolute-child-drop-down-container-hamburger {
        height: 80px;

        margin: 20px 0;

        display: flex;
        justify-content: space-between;
        padding-right: 2vmax;
    }

    .default-playfair-link, a {
        font-family: "Playfair Display";
        font-size: 26px;
    }
}

@media screen and (max-width: 425px) {
    .logo-container-header > img,
    .right-div-container-header > img {
        width: 20vmax;
    }
}