.outer-container-faculty-page {
    display: flex;
    flex-direction: column;
}

.main-container-faculty-page {
    width: 80vw;
    margin-top: 16vh;
    min-height: 80vh;

    margin-left: 8vmax;
}

.main-faculty-display-faculty-page {
    display: flex;
    flex-wrap: wrap;

    gap: 2vmax;
    margin-top: 2vmax;
}

.individual-teacher-card-faculty-page {

    width: 14vmax;

    border-radius: 13px;
    background-color: rgb(237, 236, 236);
}

.individual-teacher-card-faculty-page > img {
    width: 14vmax;

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}