.main-container-semester-individual-table {
    font-family: "Arial";

    width: fit-content;
}

.semester-heading-container-individual-table {
    height: 5vh;

    display: flex;
    align-items: center;

    color: white;
    background-color: rgb(11, 62, 90);
    margin-bottom: 0.1vmax;
    padding-left: 1vmax;
}

.semester-heading-container-individual-table > h2 {
    font-size: 18px;
}

.arrow-down-semester-plan {
    display: none;
}

.inner-headings-main-container-semester-table {
    display: flex;
    border: 1px solid;
    
    padding: 0 1vmax;
    /* background-color: #0d3460; */
    /* background-color: rgb(128, 122, 122); */
}

.inner-headings-main-container-semester-table > h3 {
    font-size: 15px;
    color: #0d3460;
}

.individual-subject-row-table {
    border: 1px solid;
    border-top: 0;

    padding: 0 1vmax;

    height: 38vh;
    /* height: fit-content; */
}

.h3-code-column-inner-heading-main-semester-table {
    width: 60px;
    text-align: start;

    color: #0d3460;
}

.h3-title-column-inner-heading-main-semester-table {
    width: 350px;
    text-align: start;
    margin-left: 2vmax;
}

.h3-credits-column-inner-heading-main-semester-table {
    width: 70px;
    text-align: start;
}

.h3-pre-req-column-inner-heading-main-semester-table {
    width: 220px;

    margin-left: 2vmax;
}

.p-code-column-inner-heading-main-semester-table {
    width: 60px;
    text-align: start;
}

.p-title-column-inner-heading-main-semester-table {
    width: 350px;
    text-align: start;
    margin-left: 2vmax;
}

.p-credits-column-inner-heading-main-semester-table {
    width: 70px;
    text-align: start;
}

.p-pre-req-column-inner-heading-main-semester-table {
    width: 220px;

    margin-left: 2vmax;
}

.main-row-subject-table > p {
    font-size: 13.5px;
    line-height: 0.5vmax;
}

.main-row-subject-table {
    display: flex;
}

@media screen and (max-width: 1220px) {
    .individual-subject-row-table {
        height: 47vh;
    }

    .h3-title-column-inner-heading-main-semester-table {
        width: fit-content;
        /* width: 260px; */
        width: 22vw;
    }

    .p-title-column-inner-heading-main-semester-table {
        width: 23vw;
        text-align: start;
        margin-left: 2vmax;
    }
}

@media screen and (max-width: 840px) {
    .h3-pre-req-column-inner-heading-main-semester-table {
        display: none;
    }

    .p-pre-req-column-inner-heading-main-semester-table {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .main-container-semester-individual-table {
        border-bottom: 1px solid #0d3460;
        margin-bottom: 2vmax;

        display: flex;
    }

    .arrow-down-semester-plan {
        display: block;

        font-size: 18px;

        border: none;
    }

    .main-container-semester-individual-table > div {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .main-container-semester-individual-table {
        width: 100vw;
    }

    .individual-subject-row-table {
        height: fit-content;
    }

    .h3-title-column-inner-heading-main-semester-table {
        width: fit-content;
        width: 130px;
    }

    .p-title-column-inner-heading-main-semester-table {
        width: 130px;
    }
}