.main-container-semester-individual-table {
    font-family: "Arial";

    width: fit-content;
}

.main-container-semester-individual-table > h2 {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}

.inner-headings-main-container-semester-table {
    display: flex;
    border: 1px solid;
    
    padding: 0 1vmax;
    background-color: #0d3460;
}

.inner-headings-main-container-semester-table > h3 {
    font-size: 19px;
    color: white;
}

.individual-subject-row-table {
    border: 1px solid;
    border-top: 0;

    padding: 0 1vmax;

    height: 35vh;
}

.h3-code-column-inner-heading-main-semester-table {
    width: 60px;
    text-align: start;
}

.h3-title-column-inner-heading-main-semester-table {
    width: 350px;
    text-align: start;
    margin-left: 2vmax;
}

.h3-credits-column-inner-heading-main-semester-table {
    width: 70px;
    text-align: start;
}

.h3-pre-req-column-inner-heading-main-semester-table {
    width: 220px;

    margin-left: 2vmax;
}

.p-code-column-inner-heading-main-semester-table {
    width: 60px;
    text-align: start;
}

.p-title-column-inner-heading-main-semester-table {
    width: 350px;
    text-align: start;
    margin-left: 2vmax;
}

.p-credits-column-inner-heading-main-semester-table {
    width: 70px;
    text-align: start;
}

.p-pre-req-column-inner-heading-main-semester-table {
    width: 220px;

    margin-left: 2vmax;
}

.main-row-subject-table > p {
    font-size: 16px;
}

.main-row-subject-table {
    display: flex;
}

@media screen and (max-width: 840px) {
    .h3-pre-req-column-inner-heading-main-semester-table {
        display: none;
    }

    .p-pre-req-column-inner-heading-main-semester-table {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .main-container-semester-individual-table {
        width: 100vw;
    }

    .individual-subject-row-table {
        height: fit-content;
    }

    .h3-title-column-inner-heading-main-semester-table {
        width: fit-content;
        width: 130px;
    }

    .p-title-column-inner-heading-main-semester-table {
        width: 130px;
    }
}